.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body, html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #303030;
    color: white;
    width: 100%;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.loading {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

#title {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    font-size: 50px;
}

#lightsContainer {
    width: 100%;
}

.light {
    position: relative;
    background-color: #202020;
    border-radius: 0.3em;
    padding: 20px;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.switch {
    position: absolute;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch>input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

#pixContainer {
    min-height: 100px;
}

.strip>div {
    width: auto;
    height: 100%;
    display: inline-block;
}

.strip {
    display: flex;
    height: 40px;
    width: 80%;
    margin: 20px 10%;
}

.pixel {
    cursor: pointer;
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #2c2c2c;
    max-width: 100%;
    height: 100%;
}

.pixSelected {
    border-color: lightblue;
}

#colorSelector {
    display: flex;
    width: 100%;
}

.flexy {
    margin: auto;
}

select {
    display: block;
}

canvas {
    display: block;
    cursor: pointer;
}

input {
    cursor: pointer;
    margin-top: 25px;
    width: 250px;
}

#right {
    display: flex;
}

#color {
    background-color: white;
    margin-left: 30px;
    height: 300px;
    width: 50px;
}